html {
        background-color: var(--color-bg);
}

body {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    font-family: Open Sans;
    margin:auto; 
    background-color: var(--color-bg);
    
}
/* --------------------NAV START------------------------------------- */
header{
    width:100%;
}

.navigation_bar {
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.342); 
    position:sticky;
    top:0;
    z-index: 999;
}
nav{
    box-shadow: inset 0 -50px 20px  rgba(0, 0, 0, 0.342);
    display:flex;
    Background-color: var(--color-orange);
    justify-content: center;
    padding: 1rem 0;
}

.nav_ul{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    margin: 0 3.75% 0 3.75%;
    padding:0.5rem 0;
    font-weight: 600;
    gap: 2rem;
        
    & a{
    box-shadow: inset 0px 10px 20px  rgba(0, 0, 0, 0.342);
    color:var(--color-white);
    background-color: var(--color-bg);
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
        
        &:hover{
        zoom: 110%;
        box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.342);
        box-shadow: inset 0px 10px 20px  rgba(59, 58, 58, 0.342); 
        }
    }
}

header li,
footer li{
    list-style-type: none;

    
}

a {
    color:inherit;
    text-decoration: none; 

    
}

.nav_li_margin-left {
    margin-right: auto;
}

.nav_li_margin-right {
    margin-left: auto;  
}

.menu {
    display:none;
}
/* --------------------NAV END------------------------------------- */

/* --------------------NAV SIDEBAR START------------------------------------- */


.nav_ul_sidebar {
    position:absolute;
    top: 0;
    right:0;
    display:none;
    
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    width: 12%;
    min-width: 80px;
    border-radius: 1rem;
    z-index: 999;
    background-color:white;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter:blur(10px);
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.342);
    
        & li>a{
        display:flex;
        width:80%;
        justify-content: center;
        color:var(--color-white);
        background-color: var(--color-bg);
        padding: 10%;
        border-radius: 0.3rem;
        
        &:hover{
        zoom: 110%;
        box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.342); 
        }
        

    }

}

@media (max-width:800px){
    .hideOnMobile{
        display:none;
    }
}

@media (max-width:800px){
    .showOnDesktop{
        display:flex;
        
    }
}

@media (min-width:801px){
    .showOnDesktop{
        display:none;
    }
}

/* --------------------NAV SIDEBAR END------------------------------------- */

/* ------------------------YT IFRAME START--------------------------------- */

iframe {
    margin-top: 3.75%;
    width:100%;
    aspect-ratio: 16/8;
    border:0;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px 3px rgba(128, 128, 128, 0.342); 
    
}
/* ------------------------YT IFRAME END--------------------------------- */

/* ------------------------FOOTER START--------------------------------- */

.footer__grid{
    box-shadow: inset 0 20px 20px  rgba(0, 0, 0, 0.342);
    width: 100vw;
    
    display:grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: auto;
    
    align-items:flex-end;
    padding:2rem;
    color:white;
    
}

.footer__links {
    
    flex-wrap:wrap;
    grid-row: 1/2;
    grid-column: span 4;   
}

.footer__list {
    display:flex;
    margin-bottom: 1rem;
    flex-wrap:wrap;
    justify-content: center;
    gap: 3rem;
    align-content:center;



}


hr {
    color: white;
    height:100px;
    width:100px;
}

.footer__misc {
    
    justify-items: center;
    grid-row: 2/3;
    grid-column: 2/4;

    p:nth-child(2){
        text-decoration-line: underline;
    }
    
}




/* ------------------------FOOTER END--------------------------------- */