
main {

    width: 80%;
    background-color: var(--color-white);   
}

.header__h1 {
    grid-column: span 4;
    justify-items: center;
    color:var(--color-orange);
    margin: 3rem 0;
}
/* ------------------------------------------------------------------------------------ */
.gallery{
    display:grid;
    width: 90%;
    justify-self: center;
    padding-top:2rem;
    padding-bottom: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* repeat(auto-fill, 200px) 20%; */
    grid-template-rows: auto 2fr 2fr;
    gap: 2rem;
    
}

.gallery__article {
    
    width:auto;
    display:flex;
    
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    grid-row:span 2;

    & div>h3 {
        margin: 0.5rem 1rem 0 1rem
    }
    
    & div>p {
        margin: 0 1rem 0.5rem 1rem;
    }
}



/* ------------------------------------------------------------------------------------ */
 /* .gallery{
    display:flex;
    gap:2rem;
    padding: 0 2rem;
    grid-column: span 4;

    & >.gallery__article {
        display:flex;
        flex-wrap: wrap;
        border-radius: 1rem;
        background-color: rgb(253, 240, 228);
        box-shadow: 5px 5px 3px 3px rgba(128, 128, 128, 0.384);
        padding-bottom: 1rem;
    }

        & p, h3 {
         margin: 0.5rem;
        }
} */

/* ------------------------------------------------------------------------------------ */
@media (max-width:801px){
    .gallery{
        flex-wrap: wrap;
    }
}

.gallery__article>img {
    
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
}