
main {

    width: 80%;
    background-color: var(--color-white);   
}

.header__h1 {
    grid-column: span 4;
    width:90%;
    text-align: center;
    color:var(--color-orange);
    margin: 2rem auto;
    font-size: 1.2rem;
}
/* ------------------------------------------------------------------------------------ */
.gallery{
    display:grid;
    width: 90%;
    justify-self: center;
    padding-top:2rem;
    padding-bottom: 5rem;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    
    grid-template-columns: repeat(4, 1fr);
    
  /* repeat(auto-fill, 200px) 20%; */
    grid-template-rows: auto 2fr 2fr;
    gap: 1rem;
    
}

.gallery__article {
    
    width:auto;
    display:flex;
    
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    grid-row:span 2;

    & div>h3 {
        color:var(--color-orange);
        
    }
    
    /* & div>p {
        margin: 0 1rem 0.5rem 1rem;
    } */
}

.gallery_textbox {
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-weight: 600;
    
    :nth-child(3){
        margin-top:0.5rem;
        font-weight:400;

    }
}

.gallery_textbox-flex {
    display:flex;
    align-items: center;
    margin-top: 0.5rem;

    h3 {
        font-size: 1.5rem;
    }

    p{
    
    margin-left: auto;
    text-align: center;
    padding: 0 0.5rem;
    font-size: 1rem;
    background-color: var(--color-bg);
    color: var(--color-white);
    border-radius: 1rem;
    }
    


}

   

/* ------------------------------------------------------------------------------------ */
 /* .gallery{
    display:flex;
    gap:2rem;
    padding: 0 2rem;
    grid-column: span 4;

    & >.gallery__article {
        display:flex;
        flex-wrap: wrap;
        border-radius: 1rem;
        background-color: rgb(253, 240, 228);
        box-shadow: 5px 5px 3px 3px rgba(128, 128, 128, 0.384);
        padding-bottom: 1rem;
    }

        & p, h3 {
         margin: 0.5rem;
        }
} */

/* ------------------------------------------------------------------------------------ */
/* @media (max-width:801px){
    .gallery{
        flex-wrap: wrap;
    }
} */

.gallery__article>a>img {
    
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
}

@media (max-width:1200px) {
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:600px) {
    .gallery{
        grid-template-columns: 1fr;
    }

    & .header__h1{
        font-size: 1rem;
    }

}